*{
    box-sizing: border-box;
    font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}

.introduction{
    background: url(/image/forest.jpg) no-repeat center;
    color:white;
    min-height: 800px;
    width:100vw;
    height:100vh;
    position: relative;
}

#logo{
    font-size: 35px;
    text-transform: capitalize;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    padding-top: 6px;
    font-weight: 600;
}


header{
    display: flex;
   	width: 90%;
	margin: auto;
	align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    z-index: 99;
    background: rgb(0 0 0 / 0%);
}

nav{
    width:35%;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
}
.nav-bar li{
    list-style: none;
}

.nav-links {
	list-style-type: none;
	justify-content: space-evenly;
    text-decoration: none;
    color:white
}

.container{
    padding:17em 0 0 ;
    max-width: 1140px;
    text-align: center;
    /* border: 2px solid red; */
    margin:auto;

}
 
#intro-heading{
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}
#intro-subtitle{
    font-size: 46px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 13px 0px 16px;
}


#intro-desc{
    color: #dadada;
    font-size: 15px;
    text-shadow: 2px 2px 8px #000;
    line-height: 27px;
    letter-spacing: 0px;
    padding: 0em 9em;
}

.buttons{
    text-align: center;
    margin:25px;
}

#about, #join{
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 2px;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #fff;
    /* margin:10px; */
}

#about{
    background: #fff;
    color: #a3c962;
    margin-right: 22px;
}

#join{
    background-color: #a3c962;
    color: #fff;
}

.green-text{
    color: #a3c962;
}

.visions{
    text-transform: uppercase;
}

.about-us{
    width:70vw;
    margin:auto;
    height:50vh;
    /* border:2px solid red; */
    text-align: center;
    margin-top:50px;
     padding-top: 30px; 
}
.box1 h5{
    font-size: 22px;
    margin-bottom: 15px;
}

.box1 h3{
    font-weight:700;
    font-size: 25px;
    margin-bottom: 20px;
}

.box1 p{
    font-size: 15px;
    color: #676662;
    letter-spacing: 1px;
    padding: 10px 0px;
    line-height: 28px;
    width:42%;
    margin: auto;
}