* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	font-family: "Playfair Display", serif;
}

.introduction {
	background: url(/image/forest.jpg) no-repeat center;
	color: white;
	min-height: 800px;
	height: 100vh;
	position: relative;
}

#logo {
	font-size: 35px;
	text-transform: capitalize;
	display: initial;
	margin: 0;
	letter-spacing: 1px;
	color: #fff;
	padding-top: 6px;
	font-weight: 600;
}

header {
	display: flex;
	width: 90%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	z-index: 99;
	background: rgb(0 0 0 / 0%);
}

nav {
	width: 35%;
}
.nav-bar {
	display: flex;
	justify-content: space-around;
}
.nav-bar li {
	list-style: none;
}
.nav-bar li a:hover,
.nav-bar li a:active {
	color: #a3c962;
}

.nav-links {
	list-style-type: none;
	justify-content: space-evenly;
	text-decoration: none;
	color: white;
}

.container {
	padding: 17em 0 0;
	max-width: 1140px;
	text-align: center;
	/* border: 2px solid red; */
	margin: auto;
}

#intro-heading {
	display: block;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 2px;
}
#intro-subtitle {
	font-size: 46px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 13px 0px 16px;
}

#intro-desc {
	color: #dadada;
	font-size: 15px;
	text-shadow: 2px 2px 8px #000;
	line-height: 27px;
	letter-spacing: 0px;
	padding: 0em 9em;
}

.buttons {
	text-align: center;
	margin: 25px;
}

#about,
#join {
	font-size: 15px;
	text-decoration: none;
	text-transform: capitalize;
	display: inline-block;
	letter-spacing: 2px;
	outline: none;
	border-radius: 20px;
	padding: 10px 20px;
	margin: 10px;
}

#about {
	padding-right: 0px;
}

#about a {
	background: #fff;
	color: #a3c962;
	margin-right: 20px;
	text-decoration: none;
	background-color: inherit;
}

#join {
	background-color: #a3c962;
	color: #fff;
}

.green-text {
	color: #a3c962;
}

.visions {
	text-transform: uppercase;
}
.leaf-img {
	max-width: 50%;
	padding: 0px 60px;
	flex: 0 0 41.666667%;
}

.about-us {
	width: 70vw;
	margin: auto;
	height: 100vh;
	/* border: 2px solid red; */
	text-align: center;
	margin-top: 50px;
	padding: 30px 0px;
	margin-bottom: 100px;
	/* position: relative; */
}
.box1 h5 {
	font-size: 22px;
	margin-bottom: 15px;
}

.box1 h3 {
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 20px;
}

.box1 p {
	font-size: 15px;
	color: #676662;
	letter-spacing: 1px;
	padding: 10px 0px;
	line-height: 28px;
	width: 42%;
	margin: auto;
}

.box2 {
	display: flex;
	align-content: space-between;
	margin-top: 8%;
	flex-wrap: wrap;
}

.mission {
	text-align: left;
	width: auto;
	max-width: 50%;
	/* margin:auto; */
	flex: 0 0 50%;
}
.box2 h5 {
	font-size: 22px;
	margin-bottom: 10px;
}

.box2 h6 {
	font-weight: 300;
	font-size: 25px;
	width: 85%;
}

.box2 p {
	font-size: 15px;
	color: #676662;
	letter-spacing: 1px;
	padding: 10px 0px;
	text-align: left;
	width: 85%;
	line-height: 28px;
}

.percentage {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.percentage img {
	width: 80%;
}

.planting img {
	padding-bottom: 15px;
}

.save-tree img {
	padding: 6px;
}

.services {
	background-image: url("/image/trees.jpg");
	height: 100vh;
	padding-top: 80px;
}
.service-intro {
	display: flex;
	max-width: 70%;
	margin: auto;
	justify-content: flex-start;
}

.service-text {
	color: white;
	max-width: 50%;
	font-size: 15px;
	text-align: right;
	margin-right: 40px;
	letter-spacing: 1px;
	padding: 10px 0px;
	line-height: 28px;
}
.provided-service h2 {
	color: white;
	font-size: 37px;
	text-align: left;
	line-height: 50px;
}
.service-listing {
	max-width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 50px;
	/* flex-direction: column; */
}

.service {
	background-color: #fff;
	max-width: 30%;
	margin: 10px;
	padding: 30px;
	font-size: 30px;
	text-align: center;
}

.service img {
	width: 20%;
}

.service p {
	font-size: 14px;
	line-height: 28px;
}

.service:hover {
	background-color: rgba(192, 188, 188, 0.678);
}

.gallary {
	padding-top: 100px;
}
.gallary-intro {
	display: flex;
	margin: auto;
	justify-content: center;
	padding-bottom: 1rem;
	text-align: center;
	justify-content: center;
	display: flex;
}

.gallary-text p {
	width: 70%;
}
.gallary-text {
	color: #676662;
	max-width: 50%;
	font-size: 15px;
	text-align: left;
	letter-spacing: 1px;
	padding: 10px 0px;
	line-height: 28px;
	margin-left: 10px;
	align-items: flex-start;
}
.gallary-service {
	text-align: right;
	margin-right: 20px;
	width: 50%;
	align-items: flex-end;
}
.gallary-service h2 {
	color: black;
	font-size: 37px;
	line-height: 50px;
}
.gallary-listing {
	display: flex;
	max-width: 80%;
	margin: auto;
	align-content: space-around;
}
.gallary-one {
	max-width: 50%;
}

.big-image,
.big-image img {
	max-width: 100%;
	height: auto;
}

.big-image {
	margin: 10px;
}

.small-image {
	max-width: 45%;
	height: auto;
	/* display: flex; */
	margin: 10px;
}

.small-image img {
	max-width: 100%;
}

.gallary-two {
	max-width: 50%;
}

.row-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.stats {
	background: #a3c962;
	margin: 2.5rem 0px;
}
.stat-contents {
	padding-bottom: 2rem;
	padding-top: 2rem;
	width: 80%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.stat-info {
	display: flex;
	justify-content: space-between;
	/* justify-content: center; */
	text-align: center;
}

.stat-info h4 {
	font-size: 22px;
	color: white;
}

.stat-info h5 {
	font-size: 22px;
	color: black;
	margin: 10px;
}

.black-text {
	color: black;
}

.features {
	border: 2px solid blue;
	text-align: center;
	padding: 30px 0px;
	/* margin-bottom: 100px; */
	margin: auto;
}

.features-listing {
	text-align: left;
	width: auto;
	flex: 0 0 50%;
	padding-left: 15px;
}

.feature {
	display: flex;
	justify-content: space-around;
	background: #f7f7f7;
	padding: 20px 20px;
	border-radius: 10px;
	margin: 4%;
	box-shadow: -3px 7px 39px -5px rgb(0 0 0);
	margin-left: auto;
	width: 100%;
}

.text-desc-style {
	font-size: 14px;
	color: #4c4c4c;
	line-height: 28px;
	letter-spacing: 0px;
}

.feature .gallary-text {
	max-width: 100%;
}

.feature img {
	max-width: 100%;
	padding-right: 60px;
	padding-left: 60px;
	text-align: center !important;
}

.feature-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.box3 {
	display: flex;
	margin: 3% 5%;
	justify-content: space-around;
}

.plantation-image {
	justify-content: center;
	padding: 4% 0px;

	padding-right: 15px;
	padding-left: 15px;
}

.plan-prices {
	background: url("/image/forest.jpg") no-repeat center;
}

.price-cards {
	display: flex;
	margin-bottom: 1.5rem;
	width: 70%;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	align-content: center;
	margin: auto;
}
.price-cards .card-golden h4 {
	margin-bottom: 1.5rem;
}

.card {
	background: #fff;
	padding: 1.5em 3em;
	box-shadow: 0 0 8px 0 rgb(161 161 161 / 50%);
	text-align: center;
}
.card h4 {
	padding: 1.5em 1.5em;
}
.count li {
	font-size: 13px;
	color: #969696;
	padding-top: 11px;
	display: block;
	list-style-type: none;
	padding-top: 11px;
}
.price-section {
	padding: 3.5rem 0.5rem;
}
.gallary-service h2,
.gallary-text p {
	color: #fff;
}
.gallary-service h3 {
	font-size: 20px;
}
